.error{
    background-color: rgb(255, 103, 103);
    color: #fff;
    border-radius: 14px;
    padding: 0.5rem 0.5rem;
    width: 100%;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.details{
    padding-left: 0.3rem;
}